.overview {
  .accountsWrap {
    // display: flex;
    // flex-flow: wrap;
    // padding: 10px;

    .accountItem {
      position: relative;

      .titleWrap {
        display: flex;
        align-items: center;

        .title {
          margin: 0 5px;
        }
      }

      .accountDetail {
        .address {
          color: rgba(0, 0, 0, 0.45);
        }

        .balance {
          color: rgba(0, 0, 0, 0.85);
          font-size: 16px;
          font-weight: 600;
        }

        .btnWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
        }
      }

      // display: flex;
      // align-items: center;
      // flex-direction: column;
      // margin: 0 10px 20px 0;

      // box-shadow: 5px 5px 5px #f0f0f0;
      // border: 1px solid #f5f5f5;
      // padding: 20px;

      // .checked {
      //   position: absolute;
      //   right: 10px;
      //   top: 10px;
      // }

      // .circle {
      //   position: absolute;
      //   right: 10px;
      //   top: 10px;
      //   width: 14px;
      //   height: 14px;
      //   border-radius: 100%;
      //   border: 1px solid #1890ff;
      //   cursor: pointer;
      // }

      // .name {
      // }

      // .address {
      //   color: gray;
      // }

      // .balance {
      //   font-size: 16px;
      //   font-weight: 600;
      // }
    }
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
}
