body {
  background-color: #fff;
}
.signWrap {
  background-color: #fff;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #efefef;

    .hostname {
      color: #636acc;
      margin-right: 5px;
    }
  }

  .greyWrap {
    display: flex;
    padding: 20px 0 0 20px;

    .tradeData {
      width: 100%;
      max-height: 410px;
      padding-right: 20px;
      .item {
        .titleWrap {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          .partOne {
            font-size: 12px;
            line-height: 17px;
            color: #888998;
            min-width: 85px;
          }

          .partTwo {
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: #515060;
            word-break: break-all;
            text-align: right;
          }
        }

        .valueWrap {
          margin-bottom: 12px;
          background: #f7f8fa;
          border-radius: 4px;
          padding: 8px 12px;
          font-size: 12px;
          line-height: 17px;
          color: #505160;
          word-break: break-all;

          .name {
            color: #888998;
            margin-top: 4px;

            &:nth-of-type(1) {
              margin-top: 0;
            }
          }

          .value {
            color: #505160;
            margin-top: 2px;
            word-break: break-all;
          }
        }
      }

      .separator {
        border-bottom: 1px solid #efefef;
        margin: 16px 0;
      }
    }
  }

  .btnWrap {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    & > button {
      min-width: 130px;
    }
  }
}
