.header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  .partOne {
    display: flex;
    .logo {
      width: 160px;
      height: 28px;
      margin: 16px 24px 16px 25px;
      background-image: url('../../assets/images/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;

      &.collapsed {
        background-image: url('../../assets/images/logo2.svg');
        width: 40px;
        // height: 31px;
        border-radius: 10px;
      }
    }
  }

  .partTwo {
    color: #fff;
    display: flex;

    .nodeList,
    .accountSelect {
      color: #fff;

      .ant-select-arrow {
        color: #fff;
      }
    }
  }
}

.ant-layout-content {
  background: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}
