.dappContainer {
  .listWrap {
    display: flex;
    flex-flow: wrap;

    .dappItem {
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px #f0f0f0;
      border: 1px solid #f5f5f5;
      margin: 0 20px 20px 0;
      justify-content: center;

      &:hover {
        cursor: pointer;
        transform: translate(2px, 2px);
        background: aliceblue;
      }

      .logoWrap {
        & > img {
          max-width: 100px;
          max-height: 50px;
        }
      }
      .nameWrap {
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .name {
        }
      }
    }
  }
}
