.dappContainer {
  .listWrap {
    display: flex;
    flex-flow: wrap;

    .listItem {
      position: relative;
    }
  }
  .customAlert {
    margin-bottom: 10px;
  }
}

.webviewContainer {
  margin: -34px -24px -24px -24px;
  background: #fff;

  .navigationBar {
    display: flex;
    padding: 10px;

    .url {
      width: 95vw;
      margin-left: 10px;
    }
  }

  .webviewWrap {
    webview {
      height: 78vh;
    }
  }
}
